@import url('https://fonts.googleapis.com/css2?family=Duru+Sans&family=Exo:wght@500;700&family=Rubik&display=swap');

:root {
    --headingfont: 'Exo';
    --paragraphfont: 'Rubik';

    --primary: #222F4E;
    --secondary: #B90000;
    --surface: #AAAAAA;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--paragraphfont);
    font-size: 1.6rem;
    line-height: 1;
}

/** Global **/
.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: var(--headingfont);
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

img {
    max-width: 100%;
}

/** Utilities **/

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.center-text {
    text-align: center;
}

